SLACK_SIGNING_SECRET=your_slack_signing_secret
SLACK_BOT_TOKEN=
BACKEND_BASE_URL=http://149.102.158.71:4445
BACKEND_USERNAME=your_admin_or_company_username
BACKEND_PASSWORD=your_admin_or_company_password
DEFAULT_TENANT_ID=tenant_demo
MISTRAL_API_KEY=
MISTRAL_MODEL=mistral-small-latest
AI_PARSE_TIMEOUT_SECONDS=2.5
